@import "https://fonts.googleapis.com/css?family=Raleway:400,700,700i";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i";
* {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif; }

h1 {
  line-height: 2.0rem; }

a:link,
a:active
a:hover,
a:visited {
  color: #070439; }

a:hover {
  text-decoration: none; }

img {
  max-width: 80%;
  max-height: auto;
  position: relative;
  vertical-align: middle; }

@media screen and (min-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas: "hero" "content";
    min-height: 100vh; }

  .item-1 {
    grid-area: hero;
    z-index: 1;
    background-color: transparent; }

  .item-2 {
    grid-area: hero; }

  .item-3 {
    grid-area: content;
    min-height: 4em;
    max-height: 100%; } }
@media screen and (min-width: 1440px) {
  .container {
    min-height: 100vh;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "hero nav" "hero content"; }

  .item-1 {
    grid-area: nav;
    align-self: center; }

  .item-2 {
    grid-area: hero; }

  .item-3 {
    grid-area: content;
    align-self: center; } }
h1 {
  color: #130F4A;
  font-weight: 700; }

.subheader {
  color: gray;
  font-weight: 400, 700; }

@media screen and (min-width: 375px) {
  .content-body,
  .footer {
    padding: 1rem 3rem; }

  h1 {
    font-size: 1.5rem;
    line-height: 1.9rem;
    padding-bottom: 1.2rem; }

  .subheader {
    font-size: 0.8rem;
    font-weight: 400, 700;
    padding-bottom: 2rem; } }
@media screen and (min-width: 1440px) {
  .content-body,
  .footer {
    padding: 3rem 5rem; }

  h1 {
    font-size: 2rem;
    line-height: 2.8rem;
    padding-bottom: 2rem; }

  .subheader {
    font-size: 1rem;
    font-weight: 400, 700;
    padding-bottom: 4rem; } }
.cta-text {
  color: #130F4A;
  font-weight: 700; }

.signup {
  padding-top: 1rem; }

[type=text],
.signup-button {
  -webkit-box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.3);
  box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.3); }

[type=text] {
  padding-right: 1rem;
  width: 65%;
  max-width: 100%; }

.signup-button {
  background-color: #05d69b;
  font-weight: bold;
  width: 30%;
  max-width: 100%;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center; }

@media screen and (min-width: 375px) {
  .cta-text {
    font-size: 1rem; }

  [type=text] {
    height: 3rem; }

  .signup-button {
    font-size: 1rem;
    width: 30%;
    max-width: 100%; } }
@media screen and (min-width: 1440px) {
  .cta-text {
    font-size: 1rem; }

  [type=text] {
    height: 4rem; }

  .signup-button {
    font-size: 1rem; } }
div {
  transition: 1.0s ease; }

.container {
  display: grid;
  grid-gap: 1rem; }

.signup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.footer {
  text-align: right;
  position: relative; }

@media screen and (min-width: 375px) {
  .item-2 {
    background-size: 30%;
    background: no-repeat center/60% url("../images/illustration-main.svg"), no-repeat bottom/100% url("../images/bg-intro.svg"); } }
@media screen and (min-width: 1440px) {
  .item-2 {
    background: no-repeat center/60% url("../images/illustration-main.svg"), linear-gradient(to bottom right, #110A6D, #7C78C5); } }
nav {
  padding: 3rem 5rem; }

.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.nav-link-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.nav-link-item {
  color: #FFFFFF;
  list-style-type: none;
  padding: 0 0.5rem; }

.logo {
  width: 8rem; }

@media screen and (min-width: 375px) {
  nav {
    padding: 1.5rem 2.5rem; }

  .logo {
    width: 7rem; } }

/*# sourceMappingURL=main.css.map */
