@import "https://fonts.googleapis.com/css?family=Raleway:400,700,700i";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i";
* {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif; }

h1 {
  line-height: 2.0rem; }

a:link,
a:active
a:hover,
a:visited {
  color: #070439; }

a:hover {
  text-decoration: none; }

img {
  max-width: 80%;
  max-height: auto;
  position: relative;
  vertical-align: middle; }

@media screen and (min-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2fr 0.8fr;
    grid-template-areas: "nav" "hero" "content";
    min-height: 100vh; }

  .item-1 {
    grid-area: nav; }

  .item-2 {
    grid-area: hero;
    background: no-repeat center url("../images/illustration-main.svg"), linear-gradient(to bottom right, #110A6D, #7C78C5); }

  .item-3 {
    grid-area: content;
    min-height: 4em;
    max-height: 100%; } }
@media screen and (min-width: 1440px) {
  .container {
    min-height: 100vh;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "hero nav" "hero content"; }

  .item-1 {
    grid-area: nav;
    align-self: center; }

  .item-2 {
    grid-area: hero; }

  .item-3 {
    grid-area: content;
    align-self: center; } }
.content-body,
.footer {
  padding: 3rem 5rem; }

h1 {
  color: #130F4A;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  padding-bottom: 3rem; }

.subheader {
  color: gray;
  font-size: 1.3rem;
  font-weight: 400, 700;
  padding-bottom: 4rem; }

.cta-text {
  font-size: 1.5rem;
  color: #130F4A;
  font-weight: 700; }

.signup {
  padding-top: 1rem; }

[type=text],
.signup-button {
  -webkit-box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.3);
  box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.3); }

[type=text] {
  padding-right: 1rem;
  width: 65%;
  max-width: 100%;
  height: 5rem; }

.signup-button {
  background-color: #05d69b;
  font-weight: bold;
  font-size: 1.5rem;
  width: 30%;
  max-width: 100%;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center; }

div {
  transition: 1.0s ease; }

.container {
  display: grid;
  grid-gap: 1rem; }

.item-2 {
  background: no-repeat center url("../images/illustration-main.svg"), linear-gradient(to bottom right, #110A6D, #7C78C5); }

.signup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.footer {
  text-align: right;
  position: relative; }

nav {
  padding: 3rem 5rem; }

.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.nav-link-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.nav-link-item {
  list-style-type: none;
  padding: 0 0.5rem; }

.logo {
  width: 10rem; }

.social {
  width: 3rem; }

/*# sourceMappingURL=main.css.map */
