// Responsive
$mobile-320: 320px;
$mobile-374: 374px;
$mobile-375: 375px;
$mobile-420: 420px;
$desktop-1440: 1440px;

// Colors
$primary-color-pink: hsl(322, 100%, 66%);
$neutral-color-cyan-dark: hsl(192, 100%, 9%);
$neutral-color-blue-pale: hsl(207, 100%, 98%);

// Typography
$body-font-family: "Open Sans" sans-serif;
$body-font-weight: 400, 600, 700;
$body-font-family: "Poppins" sans-serif;
$body-font-weight: 700;
