nav {
  padding: 3rem 5rem;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.nav-link-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-link-item {
  color: $default;
  list-style-type: none;
  padding: 0 0.5rem;
}

.logo {
  width: 8rem;
}

@media screen and (min-width: $mobile-320) and (max-width: $mobile-374) {
  nav {
    padding: 1.2rem 1.2rem;
  }

  .logo {
    width: 6rem;
  }

  .logo-black {
    display: none;
  }

  .logo-white {
    display: block;
  }

  .fab {
    color: #FFFFFF;
  }
}

@media screen and (min-width: $mobile-375) {
  nav {
    padding: 1.5rem 2.5rem;
  }

  .logo {
    width: 7rem;
  }

  .logo-black {
    display: none;
  }

  .logo-white {
    display: block;
  }

  .fab {
    color: #FFFFFF;
  }
}

@media screen and (min-width: $desktop) {
  .logo-black {
    display: block;
  }

  .logo-white {
    display: none;
  }

  .fab {
    color: #000000;
  }
}
