header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media screen and (min-width: $mobile) {
  .logo > img {
    width: 5rem;
  }

}

@media screen and (min-width: $desktop) {
  .logo > img {
    width: 10rem;
  }
}
