.hero {
  display: grid;
}

.sign-up {
  display: grid;
}
    .signup-button,
    [type=text] {
      border-radius: 3px;
    }

    [type=text] {
      padding-right: 1rem;
      width: 100%;
      max-width: 100%;
      border: 1px solid $primary-color-dark;
      height: 40px;
      margin-bottom: 10px !important;
    }

    .signup-button {
      background-color: $accent-color-blue;
      font-weight: bold;
      width: 100%;
      max-width: 100%;
      height: 40px;
      border: none;
      color: white;
      cursor: pointer;
      -webkit-box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.3);
      -moz-box-shadow:    4px 4px 7px -1px rgba(50, 50, 50, 0.3);
      box-shadow:         4px 4px 7px -1px rgba(50, 50, 50, 0.3);
    }

@media screen and (min-width: $mobile) {
  .hero {
    grid-template-rows: 1fr 1fr;
  }
    .hero-image {
      order: -1;
      background: no-repeat center/ 100% url("../../assets/images/illustration-1.svg");
      height: 280px;
    }
}

@media screen and (min-width: $desktop) {
  .hero {
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas: "heroContent heroImage";
    // max-height: 100vh;
  }
      .hero-text {
        grid-area: heroContent;
      }
      .hero-image {
        grid-area: heroImage;
        background: no-repeat center/ 70% url("../../assets/images/illustration-1.svg");
        height: 300px;
      }
}
