.testimonial-subheader {
  color: $primary-color-soft;
}

.testimonial-cta {
  text-align: center !important;
  padding-bottom: 2rem !important;
}

.testimonial-person {
  border: 1px solid $default;
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  padding: 1.5rem;
  -webkit-box-shadow: -1px -1px 15px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px -1px 15px 3px rgba(0,0,0,0.1);
  box-shadow: -1px -1px 15px 3px rgba(0,0,0,0.1);
}
    .person {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 0.2fr 1fr;
      grid-template-rows: 0.3fr;
    }
        blockquote {
          font-size: 0.8rem;
        }
        blockquote,
        .person-name {
          color: $primary-color-dark;
        }
        .person-name {
          font-weight: 700;
          font-size: 0.7rem;
        }
        .person-title {
          font-size: 0.6rem;
        }

@media screen and (min-width: $mobile) {
  .testimonial-subheader {
    font-size: 0.85rem;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
  }

  .testimonial-image {
    order: -1;
    background: no-repeat center/ 100% url("../../assets/images/illustration-2.svg");
    height: 350px;
  }

  .person-image > img {
    border-radius: 50%;
    width: 80%;
  }

}
