/*
 * Layout 
 */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
}
  @media screen and (min-width: $mobile-320) and (max-width: $mobile-420) {
    .container {
      padding: 1.5rem;
    }
  }

  @import "content";
  @import "grow-together";
  @import "headers";
  @import "hero";
  @import "footer";
  @import "navbar";