@import "variables";

* {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: $default;
  font-family: $body-font-family;
}

a:link,
a:active
a:hover,
a:visited {
  color: $primary-color-dark;
  text-decoration: none;
}
    .cta-link {
      text-align: center;
      color: $accent-color-cyan !important;
    }

footer,
header,
.get-started,
.hero,
.testimonial, {
  padding: 2rem 2rem;
}

h1,
h2,
.subheader,
.testimonial-subheader {
  color: $primary-color-dark;
  padding-bottom: 1.5rem;
}


@media screen and (min-width: $mobile) {
  h1,
  h2,
  .subheader {
    text-align: center;
  }

  h1,
  h1 {
    line-height: 2rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1rem;
  }

  .subheader {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: $desktop) {

}
