// Layout
$mobile: 375px;
$desktop: 1440px;

// Colors
$default: #FFFFFF;
$primary-color-dark: hsl(243, 87%, 12%);
$primary-color-soft: hsl(238, 22%, 44%);
$accent-color-blue: hsl(224, 93%, 58%);
$accent-color-cyan: hsl(170, 45%, 43%);
$neutral-color-blue: hsl(240, 75%, 98%);
$neutral-color-gray: hsl(0, 0%, 75%);

// Typography
$heading-font-family: 'Raleway', sans-serif;
$heading-font-weight: 400, 700;
$body-font-family: 'Open Sans', sans-serif;
$body-font-weight: 400, 700;
