@import "../base/variables";

.cta-text {
  color: $header-color;
  font-weight: $heading-font-weight;
}

.signup {
  padding-top: 1rem;
}

[type=text],
.signup-button {
  -webkit-box-shadow: 4px 4px 7px -1px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    4px 4px 7px -1px rgba(50, 50, 50, 0.3);
  box-shadow:         4px 4px 7px -1px rgba(50, 50, 50, 0.3);
}

[type=text] {
  padding-right: 1rem;
  width: 65%;
  max-width: 100%;
}

.signup-button {
  background-color: $accent-color;
  font-weight: bold;
  // font-size: 1.5rem;
  width: 30%;
  max-width: 100%;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: $mobile) {
  .cta-text {
    font-size: 1rem;
  }

  [type=text] {
    height: 2rem;
  }

  .signup-button {
    font-size: 1rem;
    width: 30%;
    max-width: 100%;
  }
}

@media screen and (min-width: $desktop) {
  .cta-text {
    font-size: 1rem;
  }

  [type=text] {
    height: 4rem;
  }

  .signup-button {
    font-size: 1rem;
  }
}
