@import "../base/variables";

div {
  transition: 1.0s ease;
}

.item {
  // border: 5px solid black;
}

.container {
  display: grid;
  grid-gap: 1rem;
}

.item-2 {
  background: no-repeat center / 100% url("../images/illustration-main.svg"), linear-gradient(to bottom right, $gradient-dark, $gradient-light);
}

.signup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  text-align: right;
  position: relative;
}

@media screen and (min-width: $mobile) {
  .item-2 {
    background-size: 30%;
    background: no-repeat center/ 60% url("../images/illustration-main.svg"), linear-gradient(to bottom right, $gradient-dark, $gradient-light);
  }
}

@media screen and (min-width: $desktop) {}
