@import "../base/variables";

article,
main,
section,
footer {
  width: 100%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // background-color: pink;
  height: 100vh;
}

.container-item {
  min-height: 100vh;
  // vertical-align: top;
  // background-color: orange;
}

.hero-banner {
  background-image: linear-gradient(240deg, $primary-color-dark, 75%, $primary-color-soft)
}

.subheader {
  color: $neutral-color;
  font-size: 0.9rem;
}

.content,
.nav {
  padding: 0 50px;
}


.nav {}

.content {
  vertical-align: middle;
}
