@import "../base/variables";

nav {
  padding: 3rem 5rem;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

// .logo,
// .nav-links {
//   display: inline-block;
// }

.nav-link-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-link-item {
  list-style-type: none;
  padding: 0 0.5rem;
}

.logo {
  width: 8rem;
}

.social {
  width: 2rem;
}

@media screen and (min-width: $mobile) {
  nav {
    padding: 1.5rem 2.5rem;
  }

  .logo {
    width: 7rem;
  }

  .social {
    width: 1.8rem;
  }
}

@media screen and (min-width: $desktop) {

}
