@import "../base/variables";

.nav-content {
  width: 100%;
}

.nav.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.logo,
.nav-links {
  display: inline-block;
}

.nav-link-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-link-item {
  list-style-type: none;
  padding: 0 0.8rem;
}

.social {
  width: 1.5rem;
}
