// Base
body {
  background-color: $background-color;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  line-height: 1.7rem;
}

a:link,
a:active
a:hover,
a:visited {
  color: $primary-color-cyan;
}

a:hover {
  text-decoration: none;
}