// Layout
$mobile: 375px;
$desktop: 1440px;

// Body
$body-font-family: 'Open Sans', sans-serif;
$bg-color: red;

// Colors
$primary-color-soft: hsl(243, 86%, 85%);
$primary-color-dark: hsl(243, 87%, 12%);
$accent-color: hsl(163, 95%, 43%);
$neutral-color: hsl(0, 0%, 50%)

// Typography
$heading-font-family: 'Raleway', sans-serif;
$heading-font-weight: 700;
