// Layout
$mobile-320: 320px;
$mobile-374: 374px;
$mobile-375: 375px;
$desktop-768: 768px;
$desktop-1024: 1024px;
$desktop: 1440px;

// Colors
$default: #FFFFFF;
$primary-color-soft: hsl(243, 86%, 85%);
$primary-color-dark: hsl(243, 87%, 12%);
$accent-color: hsl(163, 95%, 43%);
$neutral-color: hsl(0, 0%, 50%);
$gradient-dark: #110A6D;
$gradient-light: #7C78C5;
$header-color: #130F4A;

// Typography
$heading-font-family: 'Raleway', sans-serif;
$heading-font-weight: 700;
$body-font-family: 'Open Sans', sans-serif;
$body-font-weight: 400, 700;
