@import "variables";

@media screen and (min-width: $mobile) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.6fr;
    grid-template-areas:
      "hero"
      "content";
    min-height: 100vh;
  }

  .item-1 {
    grid-area: hero;
    z-index: 1;
    background-color: transparent;
  }

  .item-2 {
    grid-area: hero;
  }

  .item-3 {
    grid-area: content;
    min-height: 4em;
    max-height: 100%;
  }

}

@media screen and (min-width: $desktop) {
  .container {
    min-height: 100vh;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "hero nav"
      "hero content"
  }

  .item-1 {
    grid-area: nav;
    align-self: center;
  }

  .item-2 {
    grid-area: hero;
  }

  .item-3 {
    grid-area: content;
    align-self: center;
  }
}
