section {
  margin: 0 auto;
}
    .container {
      display: grid;
      grid-template-areas: 
        "join"
        "price-info";
      max-width: 800px;
      background-color: #FFFFFF;
      border-radius: 7px;
    }
    .join {
      grid-area: join;
      padding: 2rem 2.5rem;
        }
        .price-info {
          grid-area: price-info;
          display: flex;
          -webkit-flex-flow: row wrap;
          align-items: stretch;
          align-content: stretch;
          max-width: 100%;
        }
            .price-info-item {
              flex-grow: 1;
              padding: 2rem 2.5rem;
              padding-bottom: 35px;
            }
            .cta {
              background-color: $primary-color-cyan;
              border-bottom-left-radius: 7px;
            }
                .amount-container {
                  display: flex;
                }
                    .amount-monthly {
                      padding-left: 12px;
                    }
                button {
                  cursor: pointer;
                  color: $background-color;
                  font-size: 1.3rem;
                  font-weight: 700;
                  letter-spacing: 1px;
                  width: 100%;
                  height: 60px;
                  border-radius: 7px;
                  background-color: $primary-color-yellow;
                  border-color: $primary-color-yellow;
                  border: 1px solid transparent;
                  -webkit-box-shadow: 0px 7px 13px 0px rgba(50, 50, 50, 0.24);
                  -moz-box-shadow:    0px 7px 13px 0px rgba(50, 50, 50, 0.24);
                  box-shadow:         0px 7px 13px 0px rgba(50, 50, 50, 0.24);
                  margin-top: 25px;
                }
            .why-us {
              background-color: $primary-color-light-cyan;
              border-bottom-right-radius: 7px;
            }

footer {
  text-align: center;
}

@media screen and (min-width: $mobile-375) {
  .cta {
    // border-bottom-left-radius: 0;
  }

  .why-us {
    // border-radius: 0 0 7px 7px;
  }
}

@media screen and (min-width: $desktop-1440) {
  .cta {
    border-bottom-left-radius: 7px;
  }

  .why-us {
    border-bottom-right-radius: 7px;
  }
}

